{% extends "base.html" %}


{% block title %}Описание проекта{% endblock %}

{% block content %}
	<h1>Описание проекта</h1>

	<div class="alert alert-primary" role="alert">
		<p class="fs-5">Резюме — документ, содержащий информацию о навыках, опыте работы, образовании, и другую относящуюся к делу
        информацию, обычно требуемую для рассмотрения кандидатуры человека для найма на работу.</p>
		<p class="fs-5">Наш сервис позволяет вам вести простой учет ваших профессиональных достижений, полученных навыков, интересов. 
			Все это, вы оформляете так, как вы хотите, есть возможность добавлять медиа-файлы, пользоваться умной разметкой и настраивать порядок блоков в один клик.
			Кульминацией ваших трудов будет ваше личное резюме, которое вы можете отправить куда-угодно, используя всего лишь один qr-код. А если вы забыли что-то указать или посчитали что-то ненужным зазря, то рекрутер всегда сможет перейти в ваш профиль, и найти то, что принесет вам успех и выделит ваше резюме на фоне других.	
		</p>
	</div>

	<div class="alert alert-success" role="alert">
		<h4>Преимущества нашего сервиса</h4>
		<p style="margin: 0;" class="fs-5">Вы спросите меня: <em>"А почему именно ваш сервис?"</em>, ответ очень прост</p>
		<ul>
			<li class="fs-5">Простота в использовании</li>
			<li class="fs-5">Облачное хранение вашего резюме</li>
			<li class="fs-5">Кастомизация любой сложности</li>
			<li class="fs-5">Постоянное развитие сервиса</li>
		</ul>
	</div>

	<div class="w-100">
		<a type="button" class="btn btn-success w-100"  href="{% url 'workshop:resume_create'%}">
			Начать пользовать в один клик</a>
	</div>
{% endblock %}
