<div class="container">
	{% if title %}<h1>{{ title }}</h1>{% endif %}
	{{ form.media }}
	<form method="{{ method|default:'post' }}" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="mb-3">
			{% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    <label for="exampleInputEmail1">
                        <b>
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {% if field.field.required %}<span>*</span>{% endif %}
                        </b>
                    </label>
                    {% if field.field.widget.input_type == 'checkbox' %}
                        {% for i in field %}
                            <br>{{ i }}
                        {% empty %}
                            Вы не можете выбирать "{{ field.label }}" из пустоты)
                        {% endfor %}
                    {% else %}
                        {{ field }}
                    {% endif %}
                    <small id="emailHelp" class="form-text text-muted">{{ field.help_text|safe }}</small>
                </div>
			{% endfor %}
		</div>
		<button type="submit" class="btn btn-primary">{{ btn_text|default:'Отправить' }}</button>
		{% for button in buttons %}
		    <a type="button" class="{{ button.class }}" href="{{ button.url }}">{{ button.name }}</a>
		{% endfor %}
	</form>
</div>