{% extends 'base.html' %}


{% block title %}Редактирование блока{% endblock %}

{% block content %}
    <h1>Редактировать</h1>
    <h2>Основное</h2>
    {% include 'core/include/form.html' with form=forms.base btn_text='Сохранить' %}

    <h2>
        Прикрепленные файлы
        <a class="btn btn-outline-success" data-bs-toggle="collapse" href="#collapseFile"
           role="button" aria-expanded="false" aria-controls="collapseFile">
            Добавить
        </a>
    </h2>
    <div class="collapse" id="collapseFile">
        <div class="card card-body">
            {% include 'core/include/form.html' with form=forms.file btn_text='Добавить' %}
        </div>
        <br>
    </div>

    <ul class="list-group">
        {% for file in files %}
            {% if file.is_file %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ file.name|truncatechars:20 }}{{ file.extension }}
                    <a type="button" class="btn btn-danger rounded-pill"
                       href="{% url 'workshop:file_delete' pk=file.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                             height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                    </a>
                </li>
            {% endif %}
        {% empty %}
            <h4>Кажется у данного блока нет прикрепленных файлов 😑</h4>
        {% endfor %}
    </ul>
{% endblock %}
