{% extends 'base.html' %}


{% load static %}

{% block title %}Просмотр резюме{% endblock %}

{% block content %}
	<br>
	<div class="text-center">
		<img src="{% if object.image %}{{ object.image.url }}{% else %}
                  {% static 'img/users/avatar.png' %}{% endif %}"
		     alt="Generic placeholder image" class="img-fluid" style="width: 300px; border-radius: 10px;">

        <p class="text-lowercase">
            {{ object.date_edit }}
            <a href="{% url 'users:detail' object.user.username %}">@{{ object.user.username }}</a>
        </p>

        {% if object.tags %}
            <h5>
                {% for tag in object.tags.all %}
                    <span class="badge bg-{{ random_bootstrap_color }}">{{ tag.name }}</span>
                {% endfor %}
            </h5>
        {% endif %}

		<p class="lead">
			{{ object.text|safe }}
		</p>

        {% if object.contacts %}
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseСontact"
                        aria-expanded="false" aria-controls="collapseСontact">
                    Контакты
                </button>
            </p>
            <div class="collapse" id="collapseСontact">
                <ul class="list-group">
                    {% for contact in object.contacts.all %}
                        <li class="list-group-item">{{ contact.contact }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
