{% extends 'base.html' %}


{% load static %}

{% block title %}Просмотр резюме{% endblock %}

{% block content %}
	<br>
	<div class="text-center">
		<img src="{% static 'img/users/avatar.png' %}"
		     alt="Generic placeholder image" class="img-fluid" style="width: 300px; border-radius: 10px;">

        <br>
        <br>
		<h5><span class="badge bg-primary">Tag</span> <span class="badge bg-info">Tag2</span></h5>

		<p class="lead">
			Банальные, но неопровержимые выводы, а также ключевые особенности структуры проекта неоднозначны и
			будут указаны как претенденты на роль ключевых факторов. Господа, сложившаяся структура организации
			обеспечивает актуальность прогресса профессионального сообщества. Равным образом, высокотехнологичная
			концепция общественного уклада способствует подготовке и реализации прогресса профессионального
			сообщества.
		</p>

        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                Контакты
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <ul class="list-group">
                <li class="list-group-item">24928958925838</li>
                <li class="list-group-item">mail@example.com</li>
            </ul>
        </div>
    </div>
{% endblock %}
