<!DOCTYPE html>
<html lang="ru">

<head>
	<title>{% block title %}{% endblock %}</title>
	<!-- Bootstrap -->
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
	        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
	        crossorigin="anonymous"></script>

	{% load static %}
	<link rel="stylesheet" href="{% static 'css/form.css' %}">
	<link rel="icon" href="{% static 'img/favicons/logo.svg' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
</head>

<body {% block body_class %}{% endblock %}>
{% include 'include/header.html' %}
<main>
	{% block content_free %}{% endblock %}
	<div class="container">
		{% block content %}{% endblock %}
	</div>
</main>
{% include 'include/footer.html' %}
</body>

</html>