{% extends 'base.html' %}


{% block title %}Мой профиль{% endblock %}

{% block content %}
    <h1>Мой профиль</h1>

    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-basic-list" data-bs-toggle="list"
                    href="#list-basic" role="tab" aria-controls="list-basic">Основное</a>
                <a class="list-group-item list-group-item-action" id="list-skills-list" data-bs-toggle="list"
                    href="#list-skills" role="tab" aria-controls="list-skills">Навыки</a>
                <a class="list-group-item list-group-item-action" id="list-fields-list" data-bs-toggle="list"
                    href="#list-fields" role="tab" aria-controls="list-fields">Факты</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-basic" role="tabpanel"
                     aria-labelledby="list-basic-list">
                    {% include 'core/include/form.html' with form=user_form btn_text='Изменить' %}
                </div>
                <div class="tab-pane fade show" id="list-skills" role="tabpanel" aria-labelledby="list-skills-list">
                    <div class="container">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <div class="form-group">
                                    {{ skill_form.skills.errors }}
                                    <label for="exampleInputEmail1">
                                        <label for="{{ skill_form.skills.id_for_label }}" class="form-label">
                                            {{ skill_form.skills.label }}
                                        </label>
                                        {% if skill_form.skills.field.required %}<span>*</span>{% endif %}
                                    </label>
                                    {% for skill in skill_form.skills %}
                                    <br>
                                    {{ skill }}
                                    {% endfor %}
                                    <small id="emailHelp" class="form-text text-muted">
                                        {{ field.help_text|safe }}</small>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade show" id="list-fields" role="tabpanel" aria-labelledby="list-fields-list">
                    {% include 'core/include/form.html' with form=field_form btn_text='Добавить' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
