{% extends 'base.html' %}


{% load static %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="card-body p-4">
        <div class="d-flex text-black">
            <div class="flex-shrink-0">
                <img src="{% if user.profile.image %}{{ user.profile.image.url }}
                          {% else %}{% static 'img/users/avatar.png' %}{% endif %}"
                    alt="Generic placeholder image" class="img-fluid" style="width: 300px; border-radius: 10px;">
            </div>

            <div class="flex-grow-1 ms-3">
                <h3 class="mb-1">
                    {% if user.first_name or user.last_name %}
                        {{ user.first_name }} {{ user.last_name }}
                    {% else %}
                        {{ user.username }}
                    {% endif %}
                </h3>

                {% if user.profile.skills.all %}
                    <p>
                        {% for skill in user.profile.skills.all %}
                            <span class="badge rounded-pill bg-{{ random_bootstrap_color }}">{{ skill.skill }}</span>
                        {% endfor %}
                    </p>
                {% endif %}

                {% include 'workshop/include/fields.html' with fields=fields %}

            </div>
        </div>
    </div>

    {% for resume in resumes %}
        {% include 'users/include/resume_card.html' with resume=resume %}
    {% endfor %}
{% endblock %}